.label {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.error {
   color: #d32f2f;
   margin: 0px 0px 8px 0px;
   font-size: 12px;
}

.count {
   font-size: 12px;
   margin: 0px 0px 8px 0px;
}
