.container {
   display: block;
   position: relative;
   padding-left: 30px;
   margin-bottom: 6px;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   width: fit-content;
   font-size: 14px;
}

.container input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

.checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 16px;
   width: 16px;
   border: 2px solid #0000003d;
   border-radius: 50%;
}

.container:hover input ~ .checkmark {
   background-color: #ccc;
}

.container input:checked ~ .checkmark {
   background-color: #5558fa;
}

.checkmark:after {
   content: '';
   position: absolute;
   display: none;
}

.container input:checked ~ .checkmark:after {
   display: block;
}

.container .checkmark:after {
   top: 50%;
   left: 50%;
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background-color: white;
   right: 10px;
   bottom: 10px;
   transform: translate(-50%, -50%);
}

.container:hover .checkmark::after {
   background-color: #ccc;
}
