.line {
   --line-width: 0%;
   border-radius: 8px;
   background: var(--black-alpha-alpha-8, rgba(0, 0, 0, 0.08));
   height: 8px;
   position: relative;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.line::before {
   content: '';
   background-color: #5558fa;
   width: var(--line-width);
   position: absolute;
   height: 8px;
   border-radius: 8px;
}
