.line {
   border-radius: 8px;
   background: var(--black-alpha-alpha-8, rgba(0, 0, 0, 0.08));
   height: 8px;
   position: relative;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
