.container {
   padding: 24px 15px 24px 15px;
}

.layout {
   max-width: 900px;
   border-radius: 12px 12px 0px 0px;
   min-height: 704px;
   height: fit-content;
   background-color: #ffffff;
   margin: 0 auto;
   padding: 24px 25px;
   box-sizing: border-box;
}

.button {
   background: var(--purple-100, #5558fa);
   margin-top: 24px;
}
